{#def title, tenant #}
{#css https://rsms.me/inter/inter.css, css/base.css #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }} – {{ tenant }}</title>
  {{ catalog.render_assets() }}
</head>
<body>
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <a href="#" class="flex items-center gap-2 self-center font-medium">
        {{ tenant }}
      </a>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for type, message in messages %}
            {% if type == 'message' or type == 'info' %}
              <Alert>
                <AlertTitle>Info</AlertTitle>
                <AlertDescription>
                    {{ message }}
                </AlertDescription>
              </Alert>
            {% elif type == 'error' or type == 'error' %}
              <Alert variant="destructive">
                <AlertTitle>Error</AlertTitle>
                <AlertDescription>
                    {{ message }}
                </AlertDescription>
              </Alert>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="flex flex-col gap-6">
        {{ content }}
      </div>
      <div class="text-balance text-center text-xs text-muted-foreground">
            Secured by CoreID
      </div>
    </div>
  </div>
</body>