{#def form, login_url, app_name = "{{app_name}}", tenant="{{tenant}}"#}
<AuthPageLayout title="Login" tenant={{ tenant }} app-name={{ app_name }}>
          <Card>
            <CardHeader className="text-center">
              <CardTitle class="text-xl">Welcome</CardTitle>
              <CardDescription>Create an account</CardDescription>
            </CardHeader>
            <CardContent>
              <WTForm
              :form="{{ form }}"
              action=""
              method="POST">
                <Button type="submit" className="w-full">
                  Sign up
                </Button>
              </WTForm>
            {# <div
                    class="relative text-center text-sm after:absolute after:inset-0 after:top-1/2 after:z-0 after:flex after:items-center after:border-t after:border-border">
                    <span class="relative z-10 bg-background px-2 text-muted-foreground">
                      Or continue with
                    </span>
                  </div> #}
            </CardContent>
            <CardFooter>
              <div class="text-center text-sm">
                Already have an account?
                <a href="{{ login_url }}" class="underline underline-offset-4">
                  Log in instead
                </a>
              </div>
            </CardFooter>
          </Card>
          
</AuthPageLayout>